<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.kaua.squash">
    <!--
    *  Copyright (c) 2021 Kauã Vitório
    *  Official repository https://github.com/Kauavitorio/Squash_App
    *  Responsible developer: https://github.com/Kauavitorio
    *  @author Kaua Vitorio
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Squash"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activitys.Setting.AccountSetting.ChangeSingleInfoActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.SquashShop.SquashShopActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.AppSupportActivity"
            android:exported="true" />
        <activity
            android:name=".Notifications.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.WarnTheUserActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.Setting.AccountSettingActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.Background.BG_DemonstrationActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.Background.BackgroundActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.ProfileInfoActivity"
            android:exported="true" />
        <activity
            android:name=".Adapters.CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activitys.QrCodeActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.DeletePostReportActivity"
            android:exported="true" /> <!-- Image Crop Activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activitys.PrivacyPolicyUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.ViewMediaActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.Setting.ConnectionUsageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.ShareContentActivity" />
        <activity android:name=".Activitys.Setting.SettingActivity" />
        <activity android:name=".Activitys.WebActivity" />
        <activity android:name=".Activitys.PostDetailsActivity" />
        <activity android:name=".Activitys.EditProfileActivity" />
        <activity android:name=".Activitys.ComposeActivity" />
        <activity android:name=".Activitys.MessageActivity" />
        <activity android:name=".Activitys.SignInActivity" />
        <activity android:name=".Activitys.IntroActivity" />
        <activity android:name=".Activitys.SignUpActivity" />
        <activity android:name=".Activitys.MainActivity" />
        <activity android:name=".Activitys.ValidateEmailActivity" />
        <activity android:name=".Activitys.TermsAccountActivity" />
        <activity
            android:name=".Activitys.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Filter to email validation URL -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="squash-social.herokuapp.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="squash-social.herokuapp.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity> <!-- Start Service to message notification -->
        <service
            android:name=".Notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Performance Monitoring plugin -->
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5161149668539506~9587773570" />
    </application>

</manifest>